@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, #EFEFEF 0%, #FCFCFC 14.41%, #FFF 37.7%, #FFF 100%);
  background-repeat: no-repeat;
}

@layer components {
  .container {
    @apply max-w-[1212px] mx-auto max-[1230px]:px-[16px]
  }
  .container-small {
    @apply max-w-[1006px] ml-[150px] max-xl:ml-0 max-[1050px]:px-[16px]
  }
}